.nav-drag {
    padding: 16px;
}
.nav-drag > li {
    margin-top: 2px;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.nav-drag > li:first-child {
    margin-top: 0;
}
.nav-drag > li:hover {
    background-color: #fff;
}
.nav-drag > li.active {
    background-color: #0088cc;
    color: #fff;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
ul.highlight {
    border-color: #0088cc;
    background-color: #0088cc;
    color: #fff;
}
ul.highlight [class^="icon-"],
ul.highlight [class*=" icon-"],
.nav-drag > li.active [class^="icon-"],
.nav-drag > li.active [class*=" icon-"] {
    background-image: url("../bootstrap/img/glyphicons-halflings-white.png");
}